//LARs_spawnComp_debug = 1; //1 = RPT output, 2 = RPT output and ingame visual positioning info


class CfgCompositions {

	class fob {
		#include "fob.sqe"
	};
	
	class repairDepot {
		#include "repairDepot.sqe"
	};
	
	class outpost {
		#include "outpost.sqe"
	};

	class tower {
		#include "tower.sqe"
	};

	class CSAT_fieldRecon {
		#include "CSAT_fieldRecon.sqe"
	};
	
	class CSAT_heliPort {
		#include "CSAT_heliPort.sqe"
	};
	
	class CSAT_vehicleNet {
		#include "CSAT_vehicleNet.sqe"
	};
	
	class CSAT_TankNet {
		#include "CSAT_TankNet.sqe"
	};
	
	class CSAT_ArtyNet {
		#include "CSAT_ArtyNet.sqe"
	};
	
	class CSAT_ApcNet {
		#include "CSAT_ApcNet.sqe"
	};
	
	class small_AA_target_1 {
		#include "small_AA_target_1.sqe"
	};
	
	class small_AA_target_2 {
		#include "small_AA_target_2.sqe"
	};
	
};
